src/KafkaCSharpIntegrationTests/.idea/
src/KafkaCSharpIntegrationTests/OrdersService/bin/Debug/net6.0/OrdersService.deps.json
src/KafkaCSharpIntegrationTests/OrdersService/bin/
src/KafkaCSharpIntegrationTests/OrdersService/obj/
src/SamApi/.idea/
src/SamApi/HelloWorld/src/HelloWorld/bin/
src/SamApi/HelloWorld/src/HelloWorld/obj/
src/KafkaCSharpIntegrationTests/OrdersService.Tests/obj/
src/KafkaCSharpIntegrationTests/OrdersService.Tests/bin/
src/KafkaCSharpIntegrationTests/KafkaCSharpIntegrationTests.sln.DotSettings.user
